*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* ===========image attributes below================ */
.anya{
    display: none;
}
.logo{
    height: 5%;
    width: auto;
}
/* ============ email box attributes below ================ */
#boxInput{
    height: 48px;
    width: 400px;
    margin-top: 30px;
    border: solid 2px hsl(0, 7%, 67%);
    border-radius: 24px;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

#emailInput{
    font-size: 16px;
    color: hsl(0, 6%, 24%);
    text-align: center;
    border: none;
    padding: 0px;
    margin-left: 15px;
}

#emailInput:focus {outline: none;}
#emailInput::placeholder{opacity: 25%}
#arrow:hover{background: hsl(0, 80%, 92%);}

#errorIcon{
    position: absolute;
    left: 270px;
    border-radius: 11px;
    display: none;
}

#arrow{
    width: 100px;
    height: 100%;
    right: 0;
    border-radius: 24px;
    font-weight: bold;
    position: absolute;
    border: none;
    background: linear-gradient( 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
/* ============ Email box above ============= */


body{
    height: 100vh;
    background: url(images/anya.jpg) top right/ 42.5% 100% no-repeat, url(images/bg-pattern-desktop.svg) top left/ 57.5% 100% no-repeat;
    object-fit: fill; 
    padding: 5% 10%;
}

h1{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4em ;
    font-size: 400%;
    color: hsl(0, 6%, 24%);
}

.weRe{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    margin-top: 75px ;
}

main{
    color: hsl(0, 36%, 70%);
    max-width: 45%;
    padding: 15px 0 200px 0;
    font-size: 16px;
}

.attribution {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    text-align: center;
    display: block;
}

.attribution a {color: hsl(228, 45%, 44%)}

/* ============= Responsive attributes ============= */
@media screen and (max-width:640px) {
    .logo{
        padding : 25px;
        width: auto;
        height: 25px;
        align-items: left;
    }
    .anya{
        display: block;
        width: 100%;
        height: 62vw;
        object-fit: cover;
        object-position: center;
        margin: 0;
        padding: 0;
    }
    body{
    background: url(images/bg-pattern-desktop.svg);
    text-align: center;
    margin: 0 ;
    padding: 0
    } 
    main{
        max-width: 100%;
        margin: 0px 20px;
    }
    h1{font-size:220%}
    #boxInput{
        height: 48px;
        max-width: 100%;
    }
    #arrow{width: 20%;}
    #errorIcon{left: 70%;}
    #emailInput{margin-left: 0px;}
}
